
.depressed {
	background-color: #888;
}

.container {
	display: table;
	width: 100%;
	height: 100%;
}

.pane {
	display: table-cell;
	height: 100%;
	padding-top:    5px;
	padding-left:   5px;
	padding-right:  5px;
	padding-bottom: 5px;
	vertical-align: top;
}

#navPane {
	width: 190px;
	margin-left: 0px;
	overflow-y: scroll;
}
#pinPane {
	width: 340px;
	overflow-y: scroll;
}
#mapPane {
	width: auto;
	overflow-y: hidden;
}

.typeListing {
	font-size: 20pt;
	font-weight: bold;
}

a {
	text-decoration: underline;
}
a:hover {
	color: #008;
	cursor: pointer;
}

ul {
	list-style-type: none;
	padding-left: 3px;
	background: #ddd;
}


.kvTable {
	width: 100%;
}
.kvTable td:nth-child(1) {
	font-weight: bold;
}

.kvTable tr:nth-child(even) {
	background-color: #ccc;
}
.kvTable tr:nth-child(odd) {
	background-color: #eee;
}

textarea {
	width: 100%;
	height: 10em;
}

#pinImageUploadLabel {
	background-color: #ccc;
}

#mapImage {
	width: 100000px;
	height: 100000px;
	max-width:  95%;
	max-height: 95vh;
	top: 0px;
	left: 0px;
	position: relative;
	z-index: 1;
}

#mapOverlay {
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 20;
	height: 100%;
	width: 100%;
	background-size: contain;
}

#pinTitle {
	padding: 0px;
	margin: 0px;
}

#pinTitle h3, #pinTitle input{
	font-size: 16pt;
	font-weight: bold;
	padding: 4pt;
	margin: 0px;
}